[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firecrawl-py = "*"
python-dotenv = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
