[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
firecrawl-py = "*"
lxml = "*"
openpyxl = "*"
html5lib = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
